.mypy_cache/
.vscode/
.idea/
.venv/
*.coverage*
.ipynb_checkpoints/
.DS_Store
**/.DS_Store
coverage.xml


*~
**/*.tar.gz
**/*.whl
**/*.egg-info
**/build/
**/dist/
**/__pycache__/
**/*plots/

ml_quality_2/notebooks/*reports/
ml_quality_2/.pytest_cache/
ml_quality_2/.eggs/
ml_quality_2/tests/*reports/
ml_quality_2/tests/*inputs/
ml_quality/ml_quality/tests/*.csv
